# Ignore videos
*.mp4
*.mov
*.avi
*.mat
*.mem
*.history
*.log
xcelium.d

# Ignore node modules
node_modules/

# Ignore environment files
.env

# Ignore specific files
papers/High_speed ADC by Ahmed Ali.pdf
